/** @type {import('tailwindcss').Config} */
const { createPlugin } = require("windy-radix-palette");
const colors = createPlugin();

module.exports = {
	content: {{content|json_dumps}},
	theme: {{theme|json_dumps}},
	plugins: [
	{% for plugin in plugins %}
		require({{plugin|json_dumps}}),
	{% endfor %}
		colors.plugin,
	],
	{% if presets is defined %}
	presets: [
	{% for preset in presets %}
		require({{preset|json_dumps}})
	{% endfor %}
	],
	{% endif %}
	{% if darkMode is defined %}
	darkMode: {{darkMode|json_dumps}},
	{% endif %}
};
